html {
    scroll-behavior: smooth;
}

ol,
ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e1e1e;
}

a {
    color: black;
    transition: all 0.5s ease-in-out;
}

a:hover {
    text-decoration: none;
    transition: none;
}

.clear {
    clear: both;
}

.text-block {
    display: inline-block;
    width: 100%;
    margin: 5vh 0;
    padding: 0;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.Finding-Copy {
    max-width: 836px;
    max-height: 131px;
    float: left;
    font-family: CourierNewPSMT;
    font-size: 7.7vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -4.68px;
    color: #000000;
}

.Finding-Copy:hover {
    text-decoration: none;
    transition: none;
}

.F {
    width: 65px;
    max-height: 131px;
    display: block;
    float: right;
    font-family: CourierNewPSMT;
    font-size: 7.7vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -4.68px;
    color: #000000;
}

.line-f {
    display: inline-block;
    width: 47%;
    height: 0.2vh;
    background-color: black;
    margin: auto auto;
}

.ticket {
    width: 1504px;
    height: 573px;
    transform: rotate(-9deg);
    box-shadow: 16px 65px 34px 0 rgba(131, 131, 131, 0.5);
    display: block;
    margin: 0px auto;
    max-width: 90%;
    height: auto;
}

.discription .wrap {
    margin-top: 15vh;
    padding: 1vw;
}

.discription {
    min-width: 250px;
    min-height: 80px;
    position: absolute;
    font-family: NotoSansCJKkr;
    font-size: 1.5vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 0.8px;
    color: #000000;
    float: left;
    text-align: left;
}

.discription-en {
    min-width: 250px;
    min-height: 80px;
    position: relative;
    text-align: right;
    float: right;
    font-family: CourierNewPSMT;
    font-size: 1.5vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000;
}


/*======================================
       ********** 본문 **********
====================================== */

.fitpage {
    height: fit-content;
    width: 100%;
    padding: 2.5vh 0;
    text-align: center;
}

.fullpage {
    height: 100vh;
    padding: 2.5vh 0;
    text-align: center;
}

.page {
    height: 80vh;
    padding: 5vh 0 5vh 0;
    text-align: center;
}

.intro1 {
    clear: both;
}

.bgi {
    background-color: #fff8e5;
}

.bgw {
    background-color: white;
}

@media (max-width: 700px) {
    .filmo1 {
        height: 0vh;
        width: 0vw;
        visibility: hidden;
    }
}


/* 텍스트 스타일 */

.text1 {
    display: block;
    margin: 4vh auto;
    font-family: NotoSansCJKkr;
    font-size: 2vw;
    /* letter-spacing: 0.05vw; */
    /* word-spacing: 0.2vw; */
    /* font-weight: bold; */
    line-height: 1.50;
    text-align: center;
    color: #000000;
}

.tbold {
    font-weight: bold;
}

.text1_2 {
    display: block;
    font-family: NotoSansCJKkr;
    font-size: 1.5vw;
    font-weight: 600;
    line-height: 4vh;
    text-align: center;
    color: #000000;
}

.text1_3 {
    display: block;
    font-family: NotoSansCJKkr;
    font-size: 1.1vw;
    font-weight: 600;
    line-height: 4vh;
    text-align: center;
    color: #000000;
}

.hypo_b {
    color: black;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.hypo {
    color: #0060ff;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

h3 .text1_2 {
    display: inline-block;
}

.text1_2 .wom-color {
    color: #0060ff;
}

.text1_2 .man-color {
    color: #979797;
}

.text1_2 .bolder {
    font-weight: 800;
}

.text2 {
    display: block;
    margin: 4vh auto 4vh 0;
    width: 100%;
    font-family: NotoSansCJKkr;
    font-size: 1.7vw;
    font-weight: bold;
    line-height: 1.50;
    text-align: center;
    color: #000000;
}

.text-small {
    display: block;
    /* margin: 8vh auto 8vh 0;
    width: 465px; */
    font-family: NotoSansCJKkr;
    font-size: 1.1vw;
    font-weight: medium;
    line-height: 1.50;
    text-align: center;
    color: #000000;
}

.s-description {
    font-size: 1.2vw;
}

.wrap {
    position: relative;
    width: 1020px;
    height: 650px;
    margin: 0 0;
}

.intro-section {
    position: relative;
    height: 100%;
    margin: auto;
    font-family: CourierNewPSMT;
    font-size: 1.8vw;
    font-weight: bold;
    line-height: 1.48;
    letter-spacing: -0.47px;
    text-align: center;
    color: #000000;
}

.line-a {
    display: inline-block;
    width: 40vw;
    max-width: 45%;
    height: 0.2vh;
    background-color: black;
    margin: 50% 0;
    position: absolute;
}

.person-name {
    font-family: NotoSansCJKkr;
    font-size: 1.8vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    text-align: center;
}

.person-name-2 {
    font-family: NotoSansCJKkr;
    font-size: 1.2vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    text-align: left;
    margin-top: 3vh;
}

.wom-color {
    color: #0060ff;
}

.man-color {
    color: #979797;
}

.closing2 {
    font-size: 19px;
    font-weight: 500;
    line-height: 2;
    color: #979797;
}


/*------/ 인물 동그라미 /------*/


/* .section-wrapper {
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
} */

.person-circle {
    /*정사각 이미지만 넣으셈*/
    width: 100%;
    border-radius: 50%;
    margin: 0 0;
    box-shadow: 0 0 0 0;
    display: block;
}

.person-circle-2 {
    /*정사각 이미지만 넣으셈*/
    width: 50%;
    border-radius: 50%;
    margin: 0 0;
    box-shadow: 0 0 0 0;
    display: block;
}


/* 사용한 데이터 */

.data-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}


/* 반응형 */

#mobile {
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    display: none;
}

@media (max-width: 767px) {
    #page-top {
        display: none;
    }
    #mobile {
        display: block;
    }
}

@media (min-width: 577px) {
    .counter-box {
        margin-bottom: 1.8rem;
    }
}

@media (min-width: 767px) {
    .about-mf .box-pl2 {
        margin-top: 3rem;
        padding-left: 0rem;
    }
    .card-blog {
        margin-bottom: 3rem;
    }
    .contact-mf .box-pl2 {
        margin-top: 3rem;
        padding-left: 0rem;
    }
}

@media (min-width: 768px) {
    .box-shadow-full {
        padding: 3rem;
    }
    .intro .intro-title {
        font-size: 4.5rem;
    }
    .intro .intro-subtitle {
        font-size: 2.5rem;
    }
    .intro-single .intro-title {
        font-size: 3.5rem;
    }
    .testimonial-box .description {
        padding: 0 5rem;
    }
    .post-box,
    .form-comments,
    .box-comments,
    .widget-sidebar {
        padding: 3rem;
    }
    .blog-wrapper .article-title {
        font-size: 1.9rem;
    }
    .box-comments .list-comments .comment-author {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    .testimonial-box .description {
        padding: 0 8rem;
    }
}

@media (min-width: 1200px) {
    .testimonial-box .description {
        padding: 0 13rem;
    }
}

@media (max-width: 1024px) {
    .bg-image {
        background-attachment: scroll;
    }
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}


/* fff.css Displaying fff.css. */